# #PORT
# PORT=

# #APP_URL
# APP_URL=
# BASE_URL=

# #MONGODB CONNECTION STRING
# MDB_ATLAS=
# MDB_COMPASS=

# #Cloudinary
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# CLOUDINARY_URL=

# #JWT
# JWT_SECRET=

# #Flutterwave USEPAYS
# # FLUTTERWAVE_USERNAME=
# # FLUTTERWAVE_PASSWORD=
# # FLUTTERWAVE_BASE_URL=
# # FLUTTERWAVE_PUBLIC_KEY=
# # FLUTTERWAVE_SECRET_KEY=
# # FLUTTERWAVE_ENCRYPTION_KEY=

# #Flutterwave GLOED (To test transfer)
# FLUTTERWAVE_USERNAME=
# FLUTTERWAVE_PASSWORD=
# FLUTTERWAVE_BASE_URL=
# FLUTTERWAVE_PUBLIC_KEY=
# FLUTTERWAVE_SECRET_KEY=
# FLUTTERWAVE_ENCRYPTION_KEY=

# #Flutterwave Test mode API
# FLUTTERWAVE_TEST_PUBLIC_KEY=
# FLUTTERWAVE_TEST_SECRET_KEY=
# FLUTTERWAVE_TEST_ENCRYPTION_KEY=

# #NODEMAILER
# MAIL_USER=
# MAIL_PASSWORD=

# #Monnify
# MONNIFY_SECRET_KEY=
# MONNIFY_API_KEY=
# MONNIFY_BASE_URL=
# MONNIFY_CONTRACT_CODE=
# MONNIFY_CARD_PAYMENT_METHOD=CAR
# MONNIFY_ACCOUNT_TRANSFER_PAYMENT_METHOD=
# MONNIFY_REDIRECT_URL=
# MONNIFY_WALLET_ACCOUNT_NUMBER=
