#PORT
PORT=3030

#APP_URL
APP_URL=http://localhost:3030/api
BASE_URL=https://usepays.co/

#MONGODB CONNECTION STRING
MDB_ATLAS=mongodb+srv://cmg:cashMyGift@cmg.ccng7dg.mongodb.net/
MDB_COMPASS=mongodb://localhost:27017/cashMyGift

#Cloudinary
CLOUDINARY_CLOUD_NAME=dpz3rs8ay
CLOUDINARY_API_KEY=739173962111119
CLOUDINARY_API_SECRET=8vTAtrkbfQshOQD4xW4XawnS2aI
CLOUDINARY_URL=cloudinary://739173962111119:8vTAtrkbfQshOQD4xW4XawnS2aI@dpz3rs8ay

#JWT
JWT_SECRET=abundelakaka

#Flutterwave USEPAYS
# FLUTTERWAVE_USERNAME=usepays.co@gmail.com
# FLUTTERWAVE_PASSWORD=Seller23@
# FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3
# FLUTTERWAVE_PUBLIC_KEY=FLWPUBK-7db698ba0d522ab098f54d90b6e4266c-X
# FLUTTERWAVE_SECRET_KEY=FLWSECK-0f9ee79ef11789c8f7ae745ad8192811-1888147a706vt-X
# FLUTTERWAVE_ENCRYPTION_KEY=0f9ee79ef117544637b02a80

#Flutterwave GLOED (To test transfer)
FLUTTERWAVE_USERNAME=Learn.gloed@gmail.com
FLUTTERWAVE_PASSWORD=Seller23@
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3
FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-91d9c1fda83f56f41093867a338358fb-X
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-5a7db30da9896143631326a9cc9e6d7f-X
FLUTTERWAVE_ENCRYPTION_KEY=FLWSECK_TEST41a4c0f8abcd

#Flutterwave Test mode API
FLUTTERWAVE_TEST_PUBLIC_KEY=FLWPUBK_TEST-71e121ef2c182fdd4cd1315cfa2756b1-X
FLUTTERWAVE_TEST_SECRET_KEY=FLWSECK_TEST-1012ed4289da7ede614b9ee473c698b0-X
FLUTTERWAVE_TEST_ENCRYPTION_KEY=FLWSECK_TEST6557ffde0520

#NODEMAILER
MAIL_USER=hi@usepays.co
MAIL_PASSWORD=(Gloed_c0)

#Monnify
MONNIFY_SECRET_KEY=UB8NJBK2429VBK0STW7THUZ5RCAG4NB7
MONNIFY_API_KEY=MK_TEST_3YPNMMRH0H
MONNIFY_BASE_URL=https://sandbox.monnify.com
MONNIFY_CONTRACT_CODE=3714456690
MONNIFY_CARD_PAYMENT_METHOD=CARD
MONNIFY_ACCOUNT_TRANSFER_PAYMENT_METHOD=ACCOUNT_TRANSFER
MONNIFY_REDIRECT_URL=https://usepays.co/
MONNIFY_WALLET_ACCOUNT_NUMBER=7127576672
